.box{
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
    border: 20px solid black; 
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin: auto;
    background-color: beige;
}

h1{
    color: black;
    text-align: center;
}

*{
    /* background-image: url('/image/dame_trabajo.jpg'); */
    background-color: aqua;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.boton{
    color: black;
    background-color: aqua;
}

.boton_hover{
    color: blue;
}


